* {
	margin: 0;
	padding: 0;
	color: #020100;
	font-family: Tahoma, Geneva, sans-serif;
}

a {
	color: #c72b05;
	text-shadow: 1% 1% 2% #c88787;
}

a:hover {
	color: #FDEA6A;
}

h3 {
	font-size: 300%;
}

body {
	background-color: #ed9b7a
}

#kart {
	padding: 3%;
}

main {
	margin: 1% 1% 1% 1%;
}



/*шапка*/
header {
	display: flex;
	flex-direction: column;
	align-items: left;
	text-align: left;
}

.shapka {
	display: flex;
	background-image: url("ad.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.nazvanie {
	font-size: 7vw;
	font-weight: bold;
	color: #020100;
	text-shadow: 2px 2px 5px #a48c8c;
}

.logotip {
	width: 10vh;
	height: 10vh;
	padding: 3vh 2vh 2vh 3vh;
}

.navid {
	margin-bottom: 2vh;
}

.navid a {
	display: flex;
	text-decoration: none;
	font-size: 6vw;
	font-weight: bold;
	color: #020100;
	text-shadow: 2px 2px 5px #a48c8c;

}





/*таблица */
.table {
	display: flex;
	border: 3px solid #240d07;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}

.table th {
	font-weight: bold;
	padding: 3px;
	border: 3px solid #240d07;
}

.table td {
	padding: 3px 3px;
	border: 3px solid #240d07;
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #ca6b30c7;
}

.table tbody tr:nth-child(even) {
	background: #ca6b3085;
}





/*подвал*/

footer {
	display: flex;
	position: relative;
	background-color: rgb(0, 0, 0);
}

.podval {
	font-weight: bold;
	color: #ed9b7a;
	text-shadow: 2px 2px 4px #000000;
	text-decoration: none;
	height: 50px;
	font-size: 32px;
	margin: 0px;
	padding: 10px;
}