* {
	font-size: 4vw;
	margin: 0;
	padding: 0;
	color: #020100;
	font-family: Tahoma, Geneva, sans-serif;
}

a {
	color: #c72b05;
	text-shadow: 1% 1% 2% #c88787;
}

a:hover {
	color: #FDEA6A;
}

h3 {
	font-size: 6vw;
}

body {
	background-color: #ed9b7a
}

#kart {
	padding: 3%;
}

main {
	margin: 1% 1% 1% 1%;
}



/*шапка*/
header {
	display: flex;
	order: 1;
	flex-direction: column;
	text-align: left;
}

.shapka {
	display: flex;
	background-image: url("ad.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 4vw;
}

.nazvanie {
	flex-grow: 6;
	font-size: 7vw;
	font-weight: bold;
	color: #020100;
}

.logotip {
	flex-grow: 1;
	width: 10vw;
	height: 10vw;
	padding: 3vw 2vw 2vw 3vw;
}

.navig {
	margin-bottom: 2vh;
}

.navig a {
	display: flex;
	text-decoration: none;
	font-size: 6vw;
	font-weight: bold;
	color: #020100;

}

.navig a:hover {
	color: #FDEA6A;
}





/*таблица */
.tabl {
	display: flex;
	order: 2;
}

.table {
	font-size: 3vw;
	border: 3px solid #240d07;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 20px;
}

.table th {
	font-weight: bold;
	padding: 3px;
	border: 3px solid #240d07;
}

.table td {
	padding: 3px 3px;
	border: 3px solid #240d07;
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #ca6b30c7;
}

.table tbody tr:nth-child(even) {
	background: #ca6b3085;
}





/*подвал*/

footer {
	display: flex;
	position: relative;
	background-color: rgb(0, 0, 0);
}

.podval {
	font-weight: bold;
	color: #ed9b7a;
	text-decoration: none;
	height: 8vw;
	font-size: 5vw;
}


/*
1)почему пропали маркеры в списке
2) как сделать order? почему не работает?
3) почему при открытии чере F12 пустые куски справа если стоит 100 проц
4) как подключать Media Query внутрии css или в html подключать для другого размера другой файл
5) Моя версия считается адаптивной версией сайта для телефона?

*/